* {
  box-sizing: border-box;
  color: #185a4a;
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
  /* line-height: 1.5; */
  /* font-family: sans-serif; */
}

body {
}

.container {
  display: grid;
  gap: 15px;
  background: #ffffff;

  grid-template-areas:
    "nav-main nav-main nav-main nav-main nav-main"
    "side-box1 main main main main"
    "side-box2 main main main main"
    "footer footer footer footer footer";
  grid-template-columns: 1fr 4fr;
}
/* ======nav-main-top */
.nav-main {
  /* background: rgb(189, 189, 224); */
  grid-area: nav-main;
  /* min-height: 10; */
  min-height: 80px;
}
.nav-main-top {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  color: #185a4a;
}
.logo-img {
  height: 50px;
  width: auto;
}
.location {
  display: flex;
  align-items: center;
}
.search-bar {
  display: flex;
  align-items: center;

  border: 2px solid #185a4a;
  /* justify-content: center; */
  border-radius: 10px;
}
.search-bar form {
  min-width: 1000px;
  height: 50px;
  display: flex;
  background: white;
  border-radius: 10px;
}
.search-bar .fa-magnifying-glass {
  align-self: center;
  padding: 0 10px;
}
.search-bar form input {
  flex: 1;
  border: none;
  outline: none;
}
.search-bar form button {
  background: tomato;
  padding: 0 40px;
  border: none;
  /* color: #ffffff; */
  border-radius: 0 8px 8px 0;
}
.returns-orders {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  background: #ffffff;
  border: none;
  color: #185a4a;
}
/* ==========nav-main-bottom */
.nav-main-bottom {
  background: #bbb4b471;
  /* background: #ffffff; */
  min-height: 35px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.nav-bar nav {
  font-size: 20px;
  text-align: start;
  align-items: center;
  /* text-decoration: none; */
}
.nav-bar nav a:link {
  text-decoration: none;
  /* color: #185a4a; */
  margin-right: 70px;
  font-weight: bold;
}
.nav-bar nav a:visited {
  /* color: black; */
}
.nav-bar nav a:hover {
  cursor: pointer;
  text-decoration: underline;
  /* border: 2px solid #185a4a;
  margin-right: 66px;
  padding: 5px 0 5px 0;
  transform: none; */
}
.nav-bar nav a:active {
  color: black;
}

/* =========== side-box*/
.side-box1 {
  /* background: rgb(199, 190, 190); */
  grid-area: side-box1;
  /* min-height: auto; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.side-box1 > div {
  margin: 0 0 15px 20px;
}
.side-box1 > div h3 {
  margin-bottom: 8px;
}

.side-box2 {
  /* background: rgb(50, 171, 192); */
  grid-area: side-box2;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.side-box2 div {
  margin: 0 0 15px 20px;
}
.side-box2 > div h3 {
  margin-bottom: 8px;
}
/* ==============main */
.main {
  /* background: rgb(247, 247, 242); */
  grid-area: main;
  /* min-height: 1200px; */
  display: grid;
  grid-template-areas:
    "main-item1 main-item2 main-item3 main-item4"
    "main-item5 main-item6 main-item7 main-item8"
    "main-item9 main-item10 main-item11 main-item12"
    "main-item13 main-item14 main-item15 main-item16"
    "main-item17 main-item18 main-item19 main-item20";
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.main > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.main > div h3 {
  /* margin: px; */
}
.main-item1 {
  grid-area: main-item1;
  min-height: 300px;
  /* display: flex; */
  /* flex-direction: column; */
}

.main-item2 {
  grid-area: main-item2;
  min-height: 300px;
}
.main-item3 {
  grid-area: main-item3;
  min-height: 300px;
}
.main-item4 {
  grid-area: main-item4;
  min-height: 300px;
}
.main-item5 {
  grid-area: main-item5;
  min-height: 300px;
}
.main-item6 {
  grid-area: main-item6;
  min-height: 300px;
}
.main-item7 {
  grid-area: main-item7;
  min-height: 300px;
}
.main-item8 {
  grid-area: main-item8;
  min-height: 300px;
}
.main-item9 {
  grid-area: main-item9;
  min-height: 300px;
}
.main-item10 {
  grid-area: main-item10;
  min-height: 300px;
}
.main-item11 {
  grid-area: main-item11;
  min-height: 300px;
}
.main-item12 {
  grid-area: main-item12;
  min-height: 300px;
}
.main-item13 {
  grid-area: main-item13;
  min-height: 300px;
}
.main-item14 {
  grid-area: main-item14;
  min-height: 300px;
}
.main-item15 {
  grid-area: main-item15;
  min-height: 300px;
}
.main-item16 {
  grid-area: main-item16;
  min-height: 300px;
}
.main-item17 {
  grid-area: main-item17;
  min-height: 300px;
}
.main-item18 {
  grid-area: main-item18;
  min-height: 300px;
}
.main-item19 {
  grid-area: main-item19;
  min-height: 300px;
}
.main-item20 {
  grid-area: main-item20;
  min-height: 300px;
}
.footer {
  background: black;
  color: white;
  grid-area: footer;
  min-height: 200px;
}
